// Main SCSS file - Import all modules

// 1. Config & Variables (phải import đầu tiên)
@import 'modules/variables';
@import 'modules/config';

// 2. Common styles
@import 'modules/common';

// 3. Components
@import 'modules/navbar';
@import 'modules/search';
@import 'modules/cart';
@import 'modules/buttons';
@import 'modules/modal';

// 4. Sections
@import 'modules/header';
@import 'modules/welcome';
@import 'modules/offer';
@import 'modules/tea';
@import 'modules/menu';
@import 'modules/direction';
@import 'modules/blog';
@import 'modules/blog-pages';
@import 'modules/footer';
@import 'modules/buddha';
@import 'modules/work';
@import 'modules/team';
@import 'modules/contact';
@import 'modules/about';
@import 'modules/gallery';
@import 'modules/loader';

// 5. Media Queries (phải import cuối cùng)
@import 'modules/media-queries';
