// Cart styles
.cart-dropdown-inner {
    position: relative;
    display: inline-block;
}

.cart-dropdown-inner .cart-icon {
    color: var(--white);
    font-size: 25px;
    cursor: pointer;
}

.cart-dropdown-inner .cart-empty {
    position: absolute;
    top: -10px;
    right: -13px;
    border: 1px solid #8b8383;
    border-radius: 50%;
    padding: 5px;
    font: 10px var(--paragraph-text);
    color: var(--white);
}

.cart-dropdown-out {
    position: absolute;
    top: 4rem;
    right: 5rem;
    background: var(--white);
    min-height: 5rem;
    width: 20%;
    padding: 25px 25px 25px 20px;
    display: none;
}

