// Navbar styles
.navbar {
    height: 4rem;
    z-index: 888;
}

.navbar .navbar-brand {
    font: 30px var(--title-text);
    color: var(--white);
}

.navbar .nav-link {
    color: var(--white) !important;
    font: 14px var(--paragraph-text);
    padding: 0 12px !important;
    transition: all .5s ease-out;
    margin-right: 5px;
}

.navbar .nav-link:focus-within {
    border: 1px solid var(--secondary-color);
}

.nav-line {
    background-color: var(--white);
    opacity: .2;
    margin: 0;
}

.nav-scrolled {
    height: 3rem;
    position: fixed;
    background-color: #000;
    width: 100%;
    box-shadow: 5px 0 10px grey;
    transition: .5s;
}

.nav-scrolled .nav-link {
    color: white !important;
    font: 13px var(--paragraph-text);
    padding: 0 12px !important;
    transition: all .5s ease-out;
    margin-right: 5px;
}

.nav-scrolled .navbar-brand {
    color: white;
    font: 25px var(--title-text);
}

.nav-scrolled .nav-link:hover {
    border: none;
    border-radius: 0;
    transition: all .3s ease-out;
}

.nav-scrolled .search-header {
    color: white;
    font-size: 1.2rem;
}

.nav-scrolled .search-header:hover {
    color: var(--secondary-color);
}

.nav-scrolled .dropdown-item {
    font: 13px var(--paragraph-text);
}

// Dropdown menu
.dropdown-item {
    font: 14px var(--paragraph-text);
}

.dropdown-item:hover {
    background: var(--white);
    color: var(--secondary-color);
}

.dropdown-item:focus {
    background: var(--secondary-color);
    color: var(--white);
}

// Navbar toggler
.navbar-toggler {
    padding: 0;
}

.toggler-btn {
    transition: all 2s ease;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: var(--white);
    transition: all 0.5s ease;
}

.bar2 {
    width: 23px !important;
}

.bar3 {
    width: 16px !important;
}

.change .bar1 {
    transform: rotate(45deg) translate(5px, 6px);
    width: 30px !important;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(-45deg) translate(5px, -6px);
    width: 30px !important;
}

