// Variables - Biến màu sắc, font, kích thước

// Font face
@font-face {
    font-family: 'K2D';
    src: url('/fonts/K2D-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Font families (use K2D globally)
$font-title: 'K2D', sans-serif;
$font-paragraph: 'K2D', sans-serif;
$font-banner: 'K2D', sans-serif;
$font-subheading: 'K2D', sans-serif;

// Colors
$color-secondary: #cb7152;
$color-dark: #23282f;
$color-footer-head: #cb9252;
$color-darken: #312b30;
$color-brown-light: #F5F3F0;
$color-grey: #f6f6f6;
$color-white: #fff;

// CSS Variables (for use in CSS)
:root {
    --title-text: #{$font-title};
    --paragraph-text: #{$font-paragraph};
    --banner-text: #{$font-banner};
    --subheading-text: #{$font-subheading};
    --line-height: 24px;
    --text-size: 16px;
    --secondary-color: #{$color-secondary};
    --dark: #{$color-dark};
    --footer-head-color: #{$color-footer-head};
    --darken: #{$color-darken};
    --brown-light: #{$color-brown-light};
    --grey: #{$color-grey};
    --white: #{$color-white};
}

