// Welcome section styles
#welcome {
    margin-top: 8.5rem;
}

#welcome .first-column,
#welcome .last-column {
    padding: 8rem 0;
}

#welcome .first-column .heading,
#welcome .last-column .heading {
    font-size: 24px;
}

.column-content {
    padding: .5rem;
}

.column-content:nth-child(even) {
    box-shadow: 0px 6px 15px -7px var(--secondary-color);
}

.first-column {
    position: relative;
}

.first-column-content {
    position: absolute;
    bottom: 5rem;
    left: 0;
    z-index: 0;
}

.welcome-img1 {
    z-index: -1;
    filter: drop-shadow(0px 40px 30px grey);
}

#welcome-info {
    box-shadow: 5px 3px 10px var(--dark);
    position: relative;
}

#welcome-info .heading {
    font-size: 40px;
}

#welcome-info .menu-item {
    border-right: 1px dotted #8b8383;
}

.welcome-info-icon {
    margin-top: 3.75rem;
    margin-bottom: 2rem;
}

